* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #cf9aff, #95c0ff);
  color: white;
  padding-top: 2%;
  padding-left: 8%;
}

.container h1 {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: 600;
}

.container h1 img {
  width: 45px;
}

.container button {
  display: flex;
  align-items: center;
  background: linear-gradient(#9418fd, #571094);
  color: #fff;
  outline: 0;
  border: 0;
  /* font-size: 13px; */
  border-radius: 40px;
  padding: 8px 10px;
  margin: 15px 0 15px;
  cursor: pointer;
}

.container button img {
  width: 15px;
  margin-right: 6px;
}

.input-box {
  position: relative;
  width: 100%;
  max-width: 400px;
  min-height: 150px;
  background: #fff;
  color: #333;
  padding: 20px;
  margin: 20px 0;
  outline: none;
  border-radius: 5px;
}

.input-box img {
  width: 25px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
}
